/*

In this file:

// A. Linear gradient
// B. Background image
// C. Custom Underline

*/

////////////////////////////////////////
// A. Linear gradient
////////////////////////////////////////

@mixin linear-gradient(
  
  $direction: to bottom,

  $first-color: black,
  $second-color: black,

  $first-color-opacity: 0,
  $second-color-opacity: 0.85,

  $first-color-position: 50%,
  $second-color-position: 100%

){
  background-image: linear-gradient(
    $direction,
    rgba( $first-color, $first-color-opacity ) $first-color-position, 
    rgba( $second-color, $second-color-opacity ) $second-color-position );
}

////////////////////////////////////////
// B. Background image
////////////////////////////////////////

$background-image-path: '/wp-content/themes/ccf-twentynineteen/images/';

@mixin apply-background-image(
  $image: 'placeholder-1500x750',
  $extension: '.jpg',
  $cover: true) {

  @if $extension=='.svg' {
    background-image: url($background-image-path + $image + $extension);
    background-image: url($background-image-path + $image + $extension), none;
  }

  @else {
    background-image: url($background-image-path + $image + $extension);
  }

  @if $cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  @else {
    background-repeat: repeat;
  }

}

////////////////////////////////////////
// C. Custom Underline
////////////////////////////////////////

@mixin custom-underline(
    $color: currentColor,

    $opacity: 0.75,

    $height: 0.125em,
    $distance: 0.25em,

    $direction: to right
  ) {
  background-image: linear-gradient($direction,
      $color 0%,
      $color 100%);

  background-repeat: no-repeat;
  background-size: 100% $height;
  background-position: 0 100%;

  padding-top: $distance;
  padding-bottom: $distance;
}